@model IEnumerable<SEPApplication3.Connect.CourseData>
@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    @if (Session["Email"] == null)
    {
        <p><a href="/Account/Login" class="btn btn-primary btn-lg">Login &raquo;</a></p>

    }
    else
    {
       foreach (var course in Model)
       {
        <p><a href="/Account/Login" class="btn btn-primary btn-large">@course.Name &raquo;</a></p>
       }
    }
  